{"openapi":"3.0.0","info":{"title":"Docs API Reference","version":"v1","description":"Docs Api secification and documentation.","termsOfService":"","license":null,"contact":{"url":"v1"},"x-logo":{"url":"https:\/\/server49.mevivu.com\/banhang\/public\/assets\/images\/logo.png","altText":"Docs API Reference","backgroundColor":""}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"X-TOKEN-ACCESS":{"type":"http","scheme":"string"}},"schemas":[]},"servers":[{"url":"https:\/\/server49.mevivu.com\/banhang","description":"Documentation generator server."}],"paths":{"\/api\/v1\/product-category":{"get":{"tags":["Danh m\u1ee5c s\u1ea3n ph\u1ea9m"],"operationId":"Danh s\u00e1ch danh m\u1ee5c","description":"L\u1ea5y danh s\u00e1ch danh m\u1ee5c.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":7,"name":"parent 3","slug":"parent-3","avatar":null,"children":[{"id":8,"name":"child 3","slug":"child-3","avatar":null}]}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product-category\/show\/{id}":{"get":{"tags":["Danh m\u1ee5c s\u1ea3n ph\u1ea9m"],"operationId":"Chi ti\u1ebft danh m\u1ee5c","description":"L\u1ea5y chi ti\u1ebft danh m\u1ee5c.","parameters":[{"in":"path","name":"id","description":"id ho\u1eb7c slug danh m\u1ee5c.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":[]}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product-category\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product":{"get":{"tags":["S\u1ea3n ph\u1ea9m"],"operationId":"Danh s\u00e1ch s\u1ea3n ph\u1ea9m","description":"L\u1ea5y danh s\u00e1ch s\u1ea3n ph\u1ea9m.","parameters":[{"in":"query","name":"keywords","description":"T\u1eeb kh\u00f3a s\u1ea3n ph\u1ea9m.","required":false,"schema":{"type":"string","example":"ipad"}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"name":"Iphone 14","slug":"iphone-14","in_stock":true,"feature_image":"http:\/\/domain.com\/public\/assets\/images\/default-image.png","price":20900,"price_promotion":10000}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\");\n\nlet params = {\n    \"keywords\": \"ipad\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"keywords\" => \"ipad\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/product\/show\/{id}":{"get":{"tags":["S\u1ea3n ph\u1ea9m"],"operationId":"chi ti\u1ebft s\u1ea3n ph\u1ea9m","description":"L\u1ea5y ti\u1ebft c\u1ee7a s\u1ea3n ph\u1ea9m.\nV\u1edbi in_stock = 1 c\u00f2n h\u00e0ng v\u00e0 in_stock = 2 h\u1ebft h\u00e0ng.","parameters":[{"in":"path","name":"id","description":"id s\u1ea3n ph\u1ea9m.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":10,"name":"Iphone 14","slug":"iphone-14","in_stock":true,"feature_image":"http:\/\/domain.com\/public\/assets\/images\/default-image.png","price":20900,"price_promotion":10000}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/product\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/categories":{"get":{"tags":["Chuy\u00ean m\u1ee5c"],"operationId":"Danh s\u00e1ch chuy\u00ean m\u1ee5c","description":"L\u1ea5y danh s\u00e1ch chuy\u00ean m\u1ee5c.","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":7,"name":"parent 3","slug":"parent-3","children":[{"id":8,"name":"child 3","slug":"child-3"}]}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/categories\/show\/{id}":{"get":{"tags":["Chuy\u00ean m\u1ee5c"],"operationId":"Chi ti\u1ebft chuy\u00ean m\u1ee5c","description":"L\u1ea5y chi ti\u1ebft chuy\u00ean m\u1ee5c.","parameters":[{"in":"path","name":"id","description":"id ho\u1eb7c chuy\u00ean m\u1ee5c.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":6,"name":"children","slug":"children","parents":[{"id":7,"name":"parent","slug":"parent"}],"posts":[{"id":2,"title":"iphone 15 sap ra","slug":"iphone-15-sap-ra","feature_image":"http:\/\/localhost\/topzone\/public\/assets\/images\/default-image.png","excerpt":null,"posted_at":"2023-04-18 15:08:56"}]}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/categories\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"DS b\u00e0i vi\u1ebft","description":"L\u1ea5y danh s\u00e1ch b\u00e0i vi\u1ebft.","parameters":[{"in":"query","name":"page","description":"Trang hi\u1ec7n t\u1ea1i, page > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"limit","description":"S\u1ed1 l\u01b0\u1ee3ng b\u00e0i vi\u1ebft trong 1 trang, limit > 0.","required":false,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","feature_image":"http:\/\/localhost\/topzone\/public\/uploads\/images\/accnhi96141892532044.png","excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","posted_at":"2023-04-19 10:12:57"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\");\n\nlet params = {\n    \"page\": \"1\",\n    \"limit\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"page\" => \"1\",\n    \"limit\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts\/show\/{id}":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"Chi ti\u1ebft b\u00e0i vi\u1ebft","description":"L\u1ea5y chi ti\u1ebft b\u00e0i vi\u1ebft.","parameters":[{"in":"path","name":"id","description":"id b\u00e0i vi\u1ebft.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","image":"http:\/\/localhost\/topzone\/public\/uploads\/images\/1597766959764584432044.png","is_featured":true,"excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","content":"<p>H&eacute; l\u1ed9 ios 17 s\u1eafp ra m\u1eaft<\/p>","posted_at":"2023-04-19 10:12:57"}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/show\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/show\/{id}\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/show\/{id}\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/posts\/related\/{id}":{"get":{"tags":["B\u00e0i vi\u1ebft"],"operationId":"DS b\u00e0i vi\u1ebft li\u00ean quan","description":"L\u1ea5y danh s\u00e1ch b\u00e0i vi\u1ebft li\u00ean quan.","parameters":[{"in":"query","name":"page","description":"Trang hi\u1ec7n t\u1ea1i, page > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"query","name":"limit","description":"S\u1ed1 l\u01b0\u1ee3ng b\u00e0i vi\u1ebft trong 1 trang, limit > 0.","required":false,"schema":{"type":"integer","example":1}},{"in":"path","name":"id","description":"id b\u00e0i vi\u1ebft.","required":true,"schema":{"type":"integer","example":1}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":[{"id":4,"title":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","slug":"he-lo-ios-17-sap-ra-mat","image":"http:\/\/localhost\/topzone\/public\/uploads\/images\/accnhi96141892532044.png","is_featured":true,"excerpt":"H\u00e9 l\u1ed9 ios 17 s\u1eafp ra m\u1eaft","posted_at":"2023-04-19 10:12:57"}]}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/related\/{id}\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/related\/{id}\");\n\nlet params = {\n    \"page\": \"1\",\n    \"limit\": \"1\",\n};\n\nObject.keys(params).forEach(key => url.searchParams.append(key, params[key]));\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$query = [\n    \"page\" => \"1\",\n    \"limit\" => \"1\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/posts\/related\/{id}?\" . http_build_query($data));\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/auth":{"get":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"L\u1ea5y th\u00f4ng tin user","description":"L\u1ea5y user hi\u1ec7n t\u1ea1i th\u00f4ng qua access_token. Trong \u0111\u00f3 c\u00f3:\n<ul>\n<li><strong>gender<\/strong>:\n     <ul>\n         <li>1: Nam<\/li>\n         <li>2: N\u1eef<\/li>\n         <li>3: Kh\u00e1c<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":2,"username":"0999999999","fullname":"Truong","email":"truog@gmai1l.com","phone":"0999999999","birthday":"2023-03-26","gender":1,"avatar":null,"address":null,"created_at":"2023-03-26T06:41:42.000000Z"}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X GET -G \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \"\n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"GET\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]},"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"C\u1eadp nh\u1eadt","description":"C\u1eadp nh\u1eadt th\u00f4ng tin user hi\u1ec7n t\u1ea1i. Trong \u0111\u00f3 c\u00f3:\n<ul>\n<li><strong>gender<\/strong>:\n     <ul>\n         <li>1: Nam<\/li>\n         <li>2: N\u1eef<\/li>\n         <li>3: Kh\u00e1c<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","requestBody":{"description":"C\u1eadp nh\u1eadt th\u00f4ng tin user hi\u1ec7n t\u1ea1i. Trong \u0111\u00f3 c\u00f3:\n<ul>\n<li><strong>gender<\/strong>:\n     <ul>\n         <li>1: Nam<\/li>\n         <li>2: N\u1eef<\/li>\n         <li>3: Kh\u00e1c<\/li>\n     <\/ul>\n<\/li>\n<\/ul>","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["fullname","email","gender"],"properties":{"fullname":{"type":"string","example":"Nguyen Van A","description":"H\u1ecd v\u00e0 t\u00ean c\u1ee7a b\u1ea1n."},"email":{"type":"string","example":"example@gmail.com","description":"Email C\u1ee7a b\u1ea1n."},"gender":{"type":"integer","example":1,"description":"Gi\u1edbi t\u00ednh C\u1ee7a b\u1ea1n."},"address":{"type":"string","example":"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM","description":"\u0110\u1ecba ch\u1ec9 hi\u1ec7n t\u1ea1i c\u1ee7a b\u1ea1n."}},"example":{"fullname":"Nguyen Van A","email":"example@gmail.com","gender":1,"address":"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng.","data":{"id":1,"username":"0999999999","fullname":"Nguyen Van A","email":"example@gmail.com","phone":"0999999999","address":"998\/42\/15","gender":1,"vip":1,"created_at":"2023-03-16T05:06:44.000000Z"}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"fullname\"=\"Nguyen Van A\" \\\n    -d \"email\"=\"example@gmail.com\" \\\n    -d \"gender\"=\"1\" \\\n    -d \"address\"=\"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"fullname\": \"Nguyen Van A\",\n    \"email\": \"example@gmail.com\",\n    \"gender\": \"1\",\n    \"address\": \"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"fullname\" =>  \"Nguyen Van A\",\n    \"email\" =>  \"example@gmail.com\",\n    \"gender\" =>  \"1\",\n    \"address\" =>  \"Ph\u1ea1m V\u0103n \u0110\u1ed3ng, HCM\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/auth\/update-password":{"put":{"security":[{"BearerAuth":[],"X-TOKEN-ACCESS":[]}],"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"C\u1eadp nh\u1eadt m\u1eadt kh\u1ea9u","description":"C\u1eadp nh\u1eadt m\u1eadt kh\u1ea9u user hi\u1ec7n t\u1ea1i.","requestBody":{"description":"C\u1eadp nh\u1eadt m\u1eadt kh\u1ea9u user hi\u1ec7n t\u1ea1i.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["old_password","password","password_confirmation"],"properties":{"old_password":{"type":"string","example":"123","description":"M\u1eadt kh\u1ea9u c\u0169 c\u1ee7a b\u1ea1n."},"password":{"type":"string","example":"123456","description":"M\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."},"password_confirmation":{"type":"string","example":"123456","description":"Nh\u1eadp l\u1ea1i m\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."}},"example":{"old_password":"123","password":"123456","password_confirmation":"123456"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X PUT \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\/update-password\" \\\n    -H \"Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"old_password\"=\"123\" \\\n    -d \"password\"=\"123456\" \\\n    -d \"password_confirmation\"=\"123456\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\/update-password\");\n\nlet headers = {\n    \"Authorization\": \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"old_password\": \"123\",\n    \"password\": \"123456\",\n    \"password_confirmation\": \"123456\",\n})\n\nfetch(url, {\n    method: \"PUT\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Authorization\" => \"Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJod\",\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"old_password\" =>  \"123\",\n    \"password\" =>  \"123456\",\n    \"password_confirmation\" =>  \"123456\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/auth\/update-password\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"PUT\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/register":{"post":{"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"\u0110\u0103ng k\u00fd","description":"T\u1ea1o m\u1edbi 1 user.","requestBody":{"description":"T\u1ea1o m\u1edbi 1 user.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["fullname","phone","email","password","password_confirmation"],"properties":{"fullname":{"type":"string","example":"Nguyen Van A","description":"H\u1ecd v\u00e0 t\u00ean c\u1ee7a b\u1ea1n."},"phone":{"type":"string","example":"0999999999","description":"S\u1ed1 \u0111i\u1ec7n tho\u1ea1i c\u1ee7a b\u1ea1n(\u0110\u00fang \u0111\u1ecbnh d\u1ea1ng s\u1ed1 \u0111i\u1ec7n tho\u1ea1i)."},"email":{"type":"string","example":"example@gmail.com","description":"Email C\u1ee7a b\u1ea1n."},"password":{"type":"string","example":"123456","description":"M\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."},"password_confirmation":{"type":"string","example":"123456","description":"Nh\u1eadp l\u1ea1i m\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."}},"example":{"fullname":"Nguyen Van A","phone":"0999999999","email":"example@gmail.com","password":"123456","password_confirmation":"123456"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/register\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"fullname\"=\"Nguyen Van A\" \\\n    -d \"phone\"=\"0999999999\" \\\n    -d \"email\"=\"example@gmail.com\" \\\n    -d \"password\"=\"123456\" \\\n    -d \"password_confirmation\"=\"123456\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/register\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"fullname\": \"Nguyen Van A\",\n    \"phone\": \"0999999999\",\n    \"email\": \"example@gmail.com\",\n    \"password\": \"123456\",\n    \"password_confirmation\": \"123456\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"fullname\" =>  \"Nguyen Van A\",\n    \"phone\" =>  \"0999999999\",\n    \"email\" =>  \"example@gmail.com\",\n    \"password\" =>  \"123456\",\n    \"password_confirmation\" =>  \"123456\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/register\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/login":{"post":{"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"\u0110\u0103ng nh\u1eadp","description":"\u0110\u0103ng nh\u1eadp t\u00e0i kho\u1ea3n.","requestBody":{"description":"\u0110\u0103ng nh\u1eadp t\u00e0i kho\u1ea3n.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["username","password"],"properties":{"username":{"type":"string","example":"0999999999","description":"T\u00ean t\u00e0i kho\u1ea3n l\u00e0 s\u1ed1 \u0111i\u1ec7n tho\u1ea1i."},"password":{"type":"string","example":"123456","description":"M\u1eadt kh\u1ea9u c\u1ee7a b\u1ea1n."}},"example":{"username":"0999999999","password":"123456"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"\u0110\u0103ng nh\u1eadp th\u00e0nh c\u00f4ng.","access_token":"1|WhUre3Td7hThZ8sNhivpt7YYSxJBWk17rdndVO8K"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/login\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"username\"=\"0999999999\" \\\n    -d \"password\"=\"123456\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/login\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"username\": \"0999999999\",\n    \"password\": \"123456\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"username\" =>  \"0999999999\",\n    \"password\" =>  \"123456\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/login\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/v1\/reset-password":{"post":{"tags":["Ng\u01b0\u1eddi d\u00f9ng"],"operationId":"L\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u","description":"L\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u khi ng\u01b0\u1eddi d\u00f9ng qu\u00ean m\u1eadt kh\u1ea9u.","requestBody":{"description":"L\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u khi ng\u01b0\u1eddi d\u00f9ng qu\u00ean m\u1eadt kh\u1ea9u.","required":true,"content":{"application\/json":{"schema":{"type":"object","required":["email"],"properties":{"email":{"type":"string","example":"example@gmail.com","description":"Email C\u1ee7a b\u1ea1n."}},"example":{"email":"example@gmail.com"}}}}},"parameters":[{"in":"header","name":"X-TOKEN-ACCESS","description":"","required":true,"schema":{"type":"string","default":null,"example":null}}],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"status":200,"message":"Th\u1ef1c hi\u1ec7n th\u00e0nh c\u00f4ng. Vui l\u00f2ng ki\u1ec3m tra email c\u1ee7a b\u1ea1n \u0111\u1ec3 l\u1ea5y l\u1ea1i m\u1eadt kh\u1ea9u."}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reset-password\" \\\n    -H \"X-TOKEN-ACCESS: \" \\\n\n    -d \"email\"=\"example@gmail.com\" "},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reset-password\");\n\nlet headers = {\n    \"X-TOKEN-ACCESS\": \"\",\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nlet body = JSON.stringify({\n    \"email\": \"example@gmail.com\",\n})\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n    body: body\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"X-TOKEN-ACCESS\" => \"\",\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n$body = [\n    \"email\" =>  \"example@gmail.com\",\n];\n\n\n$ch = curl_init(\"https:\/\/server49.mevivu.com\/banhang\/api\/v1\/reset-password\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $body);\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}}},"x-tagGroups":[]}